<h1>Join</h1>
<form action="" method="post">
  <div class="form-group">
    <label for="secret">Secret:</label>
    <input
      type="password"
      id="secret"
      class="form-control"
      placeholder="Shhh..."
      name="secret"
    />
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
<% if (errors) { %>
<ul>
  <% errors.forEach(error => { %>
  <li><%= error.msg %></li>
  <% }); } %>
</ul>
<%- contentFor('sidebar') %> <% action_list.forEach(action => { %>
<li><a href="<%= action %>"><%= action %></a></li>
<% }) %>
